

<nav class="navbar navbar-default" style="background-color: #36A2EB;height: 80px">
   <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#" >
            <table>
               <tr>
                  <td><img src="/assets/images/d.png" width="40"> </td>
                  <td style="font-size: 18px;color:#fff">HealthMatic<br><span style="font-size: 12px">where heatlth matters</span></td>
               </tr>
            </table>
         </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="#"  ui-sref="doctorlist" style="color:#fff"> <span><img src="/assets/images/doctor.png" width="40"></span>Doctors</a>
            </li>
            <li><a href="#"  ui-sref="nurselist" style="color:#fff"> <span><img src="/assets/images/nurse.png" width="40"></span>Nurses</a></li>
            <li><a href="#" style="color:#fff" ui-sref="patientlist"> <span><img src="/assets/images/patient.png" width="40"></span>PatientList</a></li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container-fluid -->
</nav>



 

<div class="row centered-form" style="padding: 10px">
   <div class="col-xs-12 col-sm-12 col-md-12  col-lg-6 col-lg-offset-3 col-sm-offset-2  col-md-offset-2"> 
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Assign Doctor</small></h3>
         </div>
         <div class="panel-body">
            <form role="form">
               <div class="row">
                  <div class="col-xs-8 col-sm-10 col-md-10">
                     <div class="form-group">
                  <input type="text"   ng-model="patient.doctor" auto-complete class="form-control" / >
                      </div>
                  </div>

                   <div class="col-xs-3 col-sm-2 col-md-2">
                     <div class="form-group">
                   <input type="button" class="btn btn-success" value="Add" ng-click="assigndoc(patient)">
                     </div>
                  </div>
                
               </div>
     
         </div>
         </form>
      </div>
         <input type="button" class="btn btn-success col-lg-3 col-xs-12 col-md-4 col-sm-4 pull-right" value="Next">

   </div>
</div>


 
  {{test}}