<div class = "container">
    <div class="wrapper">
        <div class="form-signin">       
            <h3 class="form-signin-heading">HealthMatic</h3>
              <hr class="colorgraph"><br>
              <p>{{errorlogin}}</p>
              <input type="text" class="form-control" name="Username" ng-model="user.email" placeholder="Username" required="" autofocus="" />
              <input type="password" class="form-control" name="Password" ng-model="user.pwd" placeholder="Password" required=""/>            
             
              <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login"  ng-click="goLogin(user)"> Login</button>            
        </div>         
    </div>
</div>

<script  src="/bower_components/angular/angular.min.js"></script>
<script  src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

<script  src="/src/app.js"></script>
<script  src="/src/route.js"></script>
