 
<h1 style="padding-left :20px">Patients</h1>

<div class="col-lg-6 col-lg-offset-3">

<ul class="list-group" ng-repeat="patient in patientList">
<a href=""  ng-click="goPatientDetails(patient)">
      <li class="list-group-item">

    <table><tr>
    <td rowspan="3" style="padding-right: 20px"><img src="/assets/images/male.png" width="60"></td>
    <td style="text-align: top;">
    <a href=""  ng-click="goPatientDetails(patient)">
{{patient.firstName}}&nbsp {{patient.lastName}}</a></td>
    </tr>
    <tr><td class="secondline" ng-class="getColor(patient)">{{patient.condition}}</td></tr>

    </table>
    </li>
</a>
 
</ul> 
</div>
 
<!--  	<a href="" class="btn btn-success pull-right col-lg-3"  ng-click="goAddPatient('add')">Add</a>
 -->
<div class="col-lg-6 col-lg-offset-3" style="margin-bottom: 200px">
   <button type="button" class="btn btn-success pull-right col-lg-3" ng-click="goAddPatient()" data-toggle="modal" data-target="#myModal">Add</button>

</div>
<br><br>

 
 






