
  <div class="row" style="margin-top: 20px">
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-8 col-lg-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Medicine</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">

        <div class="col-lg-6">

                <div class="form-group">
                  <input type="date" name="text" style="" id="pres_med" ng-model="patient.prescriptions.medicinename"  class="form-control input-sm" placeholder="Medicine Name">
                </div>
                 <div class="form-group">
                  <input type="date" name="text" id="pres_dosage" ng-model="patient.prescriptions.dosage"  class="form-control input-sm" placeholder="Dosage">
                </div>

              <div class="form-group">
                 <input type="date" name="text" id="pres_duration" ng-model="patient.prescriptions.duration"  class="form-control input-sm" placeholder="Duration">
                </div>
       </div>
  
       <div class="col-lg-6">
                <table  border="1" style="border:1px; " cellspacing="10">
                <tr><th style="padding: 10px">Medicine Name</th><th style="padding: 10px">Dosage</th><th style="padding: 10px">Duration</th></tr>
                <tr><td style="padding: 5px;text-align: left;"> test</td>
                <td style="padding: 5px;text-align: left;">2 days</td>
                <td style="padding: 5px;text-align:left ">3 times</td>
                </tr>

                 <tr><td style="padding: 5px;text-align: left;"> test</td>
                <td style="padding: 5px;text-align: left;">2 days</td>
                <td style="padding: 5px;text-align:left ">3 times</td>
                </tr>


                </table>
        </div>
       </div>



        </div>
      </div>
    </div>
     
  </div>


  <div class="row" style="margin-top: 0px">
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-8 col-lg-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Vital</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">


        <div class="col-lg-6">

                <div class="form-group">
                  <input type="date" name="text" style="" id="pres_med" ng-model="patient.prescriptions.medicinename"  class="form-control input-sm" placeholder="Medicine Name">
                </div>
                 <div class="form-group">
                  <input type="date" name="text" id="pres_dosage" ng-model="patient.prescriptions.dosage"  class="form-control input-sm" placeholder="Dosage">
                </div>

              <div class="form-group">
                 <input type="date" name="text" id="pres_duration" ng-model="patient.prescriptions.duration"  class="form-control input-sm" placeholder="Duration">
                </div>
       </div>
  
       <div class="col-lg-6">
                <table  border="1" style="border:1px; " cellspacing="10">
                <tr><th style="padding: 10px">Medicine Name</th><th style="padding: 10px">Dosage</th><th style="padding: 10px">Duration</th></tr>
                <tr><td style="padding: 5px;text-align: left;"> test</td>
                <td style="padding: 5px;text-align: left;">2 days</td>
                <td style="padding: 5px;text-align:left ">3 times</td>
                </tr>

                 <tr><td style="padding: 5px;text-align: left;"> test</td>
                <td style="padding: 5px;text-align: left;">2 days</td>
                <td style="padding: 5px;text-align:left ">3 times</td>
                </tr>


                </table>
        </div>


        </div>
      </div>
    </div>
     
  </div>



  <div class="row" style="margin-top: 0px">
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-8 col-lg-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Test</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">Panel content</div>
      </div>
    </div>
     
  </div>


  <div class="row" style="margin-top: 0px">
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-8 col-lg-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Notes</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">Panel content</div>
      </div>
    </div>
     
  </div>

<script  src="/src/patientdetail.js" ></script>
<!-- 
 <div class="col-lg-6 col-lg-offset-3">
	<div class="panel panel-default">
	  <div class="panel-body" style="padding: 0px">
	  	
	  	<table>
	  		<tr>
	  		
	  		<td style="padding-right: 20px;padding-left: 20px;vertical-align: top;width: 70px" rowspan="11"><img src="/assets/images/male.png" width="70"></td>
	  		<td class=" " style="border:1px solid #D3D3D3;border-top: none;border-right: none;height: 50px;padding-left: 20px;width: 100%">Name : {{selectedpatient.firstName}} &nbsp {{selectedpatient.lastName}}</td>
	  			
	  		</tr>
	  		<tr><td class="tdright">Birthdate : {{selectedpatient.birthday}}</td> </tr>
	  		<tr><td class="tdright">Gender : {{selectedpatient.gender}} </td></tr>
	  		<tr><td class="tdright"> Weight : {{selectedpatient.weight}} </td></tr>
	  		<tr><td class="tdright"> Height : {{selectedpatient.height}} </td></tr>
	  		<tr><td class="tdright"> Blood Type : {{selectedpatient.bloodType}} </td></tr>
	  		<tr><td class="tdright"> Marital Status : {{selectedpatient.maritalStatus}} </td></tr>

	  		<tr><td class="tdright">Condition : {{selectedpatient.condition}} </td></tr>
	  		<tr><td class="tdright"> Admission Date : {{selectedpatient.admissionDate}} </td></tr>
	  		<tr><td class="tdright">Discharge Date : {{selectedpatient.dischargedDate}} </td></tr>

	  		<tr><td style="border:1px solid #D3D3D3;border-bottom: none;border-right: none;height: 50px;padding-left: 20px">Address : {{selectedpatient.address.street}}  {{selectedpatient.address.city}},<br>
	  		{{selectedpatient.address.province}} {{selectedpatient.address.zipCode}}</td></tr>

	  	</table>
	  </div>
	</div>
 </div>
 -->