
<div class="row" style="margin-top: 20px">
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      </div>
      <div class="panel-body">

<!--   <table>
        <tr>
        
        <td style="padding-right: 20px;padding-left: 20px;vertical-align: top;width: 70px" rowspan="11"><img src="/assets/images/male.png" width="70"></td>
        <td class=" " style="border:1px solid #D3D3D3;border-top: none;border-right: none;height: 50px;padding-left: 20px;width: 100%">Name : {{selectedpatient.firstName}} &nbsp {{selectedpatient.lastName}}</td>
          
        </tr>
        <tr><td class="tdright">Birthdate : {{selectedpatient.birthday}}</td> </tr>
        <tr><td class="tdright">Gender : {{selectedpatient.gender}} </td></tr>
        <tr><td class="tdright"> Weight : {{selectedpatient.weight}} </td></tr>
        <tr><td class="tdright"> Height : {{selectedpatient.height}} </td></tr>
        <tr><td class="tdright"> Blood Type : {{selectedpatient.bloodType}} </td></tr>
        <tr><td class="tdright"> Marital Status : {{selectedpatient.maritalStatus}} </td></tr>

        <tr><td class="tdright">Condition : {{selectedpatient.condition}} </td></tr>
        <tr><td class="tdright"> Admission Date : {{selectedpatient.admissionDate}} </td></tr>
        <tr><td class="tdright">Discharge Date : {{selectedpatient.dischargedDate}} </td></tr>

        <tr><td style="border:1px solid #D3D3D3;border-bottom: none;border-right: none;height: 50px;padding-left: 20px">Address : {{selectedpatient.address.street}}  {{selectedpatient.address.city}},<br>
        {{selectedpatient.address.province}} {{selectedpatient.address.zipCode}}</td></tr>

      </table> -->
      <div class="col-lg-12">

        <div class="col-lg-2 col-xs-12 col-sm-2 col-md-2" style="text-align: center;">
          <img src="/assets/images/male.png" width="130">
        </div>

        <div class="col-lg-10 col-xs-12 col-sm-10 col-md-10">
         <span class="col-lg-6 col-xs-12 col-sm-6 col-md-6"  style="border: 0px solid black"><strong style="padding-right: 10px">Name : </strong>{{selectedpatient.firstName}} &nbsp {{selectedpatient.lastName}}</span>  
         <span class="col-lg-6 col-xs-12  col-sm-6 col-md-6"  style="border: 0px solid black"><strong style="padding-right: 10px">Birthdate :</strong> {{selectedpatient.birthday}}</span>

         <span class="col-lg-6 col-xs-12 col-sm-6 col-md-6" ng-if="selectedpatient.gender===true"  style="border: 0px solid black"><strong style="padding-right: 10px">Gender :</strong> Male</span>  

          <span class="col-lg-6 col-xs-12 col-sm-6 col-md-6" ng-if="selectedpatient.gender===false"  style="border: 0px solid black"><strong style="padding-right: 10px">Gender :</strong> Female</span>  

         <span class="col-lg-6 col-xs-12  col-sm-6 col-md-6"  style="border: 0px solid black"><strong style="padding-right: 10px"> Marital Status :</strong> {{selectedpatient.maritalStatus}}</span>

         <span class="col-lg-6 col-xs-12 col-sm-6 col-md-6"><strong style="padding-right: 10px">Weight :</strong> {{selectedpatient.weight}}</span>  
         <span class="col-lg-6 col-xs-12  col-sm-6 col-md-6"> <strong style="padding-right: 10px">Height :</strong> {{selectedpatient.height}}</span>
         
          <span class="col-lg-6 col-xs-12 col-sm-6 col-md-6"><strong style="padding-right: 10px">Blood Type :</strong> {{selectedpatient.bloodType}} </span>  
         <span class="col-lg-6 col-xs-12  col-sm-6 col-md-6"> <strong style="padding-right: 10px">Condition :</strong> {{selectedpatient.condition}} </span>
         
         <span class="col-lg-6 col-xs-12 col-sm-6 col-md-6"><strong style="padding-right: 10px">Admission Date : </strong>{{selectedpatient.admissionDate}} </span>  
         <span class="col-lg-6 col-xs-12  col-sm-6 col-md-6" ng-if="selectedpatient.dischargedDate"><strong style="padding-right: 10px"> Discharge date :</strong> {{selectedpatient.dischargedDate}}</span>
         

       </div>


     </div>



   </div>
 </div>
</div> </div>

<div class="row" style="margin-top: 0px">
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Medicine</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      </div>
      <div class="panel-body">

        <div class="col-lg-4">

          <div class="form-group">
            <input type="text" name="text" style="" id="pres_med" ng-model="patient.prescriptions.medicinename"  class="form-control input-sm" placeholder="Medicine Name">
          </div>
          <div class="form-group">
            <input type="text" name="text" id="pres_dosage" ng-model="patient.prescriptions.dosage"  class="form-control input-sm" placeholder="Dosage">
          </div>

          <div class="form-group">
           <input type="text" name="text" id="pres_duration" ng-model="patient.prescriptions.duration"  class="form-control input-sm" placeholder="Duration">
         </div>
         <div class="" style="margin-bottom: 10px">
          <input type="button" value="Save" class="btn btn-success" />
          <input type="button" value="Clear" class="btn btn-danger" />
        </div>
      </div>

      <div class="col-lg-8">
        <table  border="1" style="border:1px; " cellspacing="10">
          <tr><th style="padding: 10px">Medicine Name</th><th style="padding: 10px">Dosage</th><th style="padding: 10px">Duration</th></tr>
          <tr><td style="padding: 5px;text-align: left;"> test</td>
            <td style="padding: 5px;text-align: left;">2 days</td>
            <td style="padding: 5px;text-align:left ">3 times</td>
          </tr>

          <tr><td style="padding: 5px;text-align: left;"> test</td>
            <td style="padding: 5px;text-align: left;">2 days</td>
            <td style="padding: 5px;text-align:left ">3 times</td>
          </tr>


        </table>
      </div>
    </div>



  </div>
</div>
</div>

</div>


<div class="row" style="margin-top: 0px">
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Vital</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      </div>
      <div class="panel-body">


        <div class="col-lg-4">

          <div class="form-group">
            <input type="text" name="text" style="" id="systolic" ng-model="patient.vitals.systolic"  class="form-control input-sm" placeholder="Systolic">
          </div>
          <div class="form-group">
            <input type="text" name="text" id="diastolic" ng-model="patient.vitals.diastolic"  class="form-control input-sm" placeholder="Diastolic">
          </div>

          <div class="form-group">
           <input type="date" name="text" id="temperature" ng-model="patient.vitals.temperature"  class="form-control input-sm" placeholder="Temperature">
         </div>
         <div class="form-group">
           <input type="text" name="text" id="respiration" ng-model="patient.vitals.respirationRate"  class="form-control input-sm" placeholder="Respiration Rate">
         </div>
         <div class="" style="margin-bottom: 10px">
          <input type="button" value="Save" class="btn btn-success" />
          <input type="button" value="Clear" class="btn btn-danger" />
        </div>

      </div>

      <div class="col-lg-8">
        <table  border="1" style="border:1px; " cellspacing="10">
          <tr><th style="padding: 10px">Respiration Rate</th><th style="padding: 10px">Systolic</th><th style="padding: 10px">Diastolic</th><th>Temperature</th></tr>
          <tr><td style="padding: 5px;text-align: left;"> 122</td>
            <td style="padding: 5px;text-align: left;">1</td>
            <td style="padding: 5px;text-align:left ">3</td>
            <td style="padding: 5px;text-align:left ">1</td>
          </tr>
          <tr><td style="padding: 5px;text-align: left;"> 122</td>
            <td style="padding: 5px;text-align: left;">1</td>
            <td style="padding: 5px;text-align:left ">3</td>

            <td style="padding: 5px;text-align:left ">1</td>
          </tr>



        </table>
      </div>


    </div>
  </div>
</div>

</div>



<div class="row" style="margin-top: 0px">
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Test</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      </div>
      <div class="panel-body">

       <div class="col-lg-4">

        <div class="form-group">
          <input type="text" name="text" style="" id="testtype" ng-model="patient.labTests.testType"  class="form-control input-sm" placeholder="Test Type">
        </div>
        <div class="form-group">
          <input type="text" name="text" id="requestdate" ng-model="patient.labTests.requestDate"  class="form-control input-sm" placeholder="Request Date">
        </div>
        <div class="" style="margin-bottom: 10px">
          <input type="button" value="Save" class="btn btn-success" />
          <input type="button" value="Clear" class="btn btn-danger" />
        </div>


      </div>

      <div class="col-lg-8">
        <table  border="1" style="border:1px; " cellspacing="10">
          <tr><th style="padding: 10px">Test Type</th><th style="padding: 10px">Request Date</th> </tr>
          <tr><td style="padding: 5px;text-align: left;"> CBC (Complete Blood Count)</td>
            <td style="padding: 5px;text-align: left;">22/01/2017</td>

          </tr>



        </table>
      </div>

    </div>
  </div>
</div>

</div>


<div class="row" style="margin-top: 0px">
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      </div>
      <div class="panel-body">

       <div class="col-lg-4">

        <div class="form-group">
          <input type="text" name="textarea" style="" id="notes" ng-model="patient.drNotes.notes"  class="form-control input-sm" placeholder="Notes">
        </div>
        <div class="" style="margin-bottom: 10px">
          <input type="button" value="Save" class="btn btn-success" />
          <input type="button" value="Clear" class="btn btn-danger" />
        </div>


      </div>

      <div class="col-lg-8">
        <table  width="100%" border="1" style="border:1px; " cellspacing="10">
          <tr><th style="padding: 10px">Notes</th> </tr>
          <tr><td style="padding: 5px;text-align: left;">Notes</td>

          </tr>



        </table>
      </div>


    </div>
  </div>
</div>

</div>

<script  src="/src/patientdetail.js" ></script>
<!-- 
 <div class="col-lg-6 col-lg-offset-3">
	<div class="panel panel-default">
	  <div class="panel-body" style="padding: 0px">
	  	
	  	<table>
	  		<tr>
	  		
	  		<td style="padding-right: 20px;padding-left: 20px;vertical-align: top;width: 70px" rowspan="11"><img src="/assets/images/male.png" width="70"></td>
	  		<td class=" " style="border:1px solid #D3D3D3;border-top: none;border-right: none;height: 50px;padding-left: 20px;width: 100%">Name : {{selectedpatient.firstName}} &nbsp {{selectedpatient.lastName}}</td>
	  			
	  		</tr>
	  		<tr><td class="tdright">Birthdate : {{selectedpatient.birthday}}</td> </tr>
	  		<tr><td class="tdright">Gender : {{selectedpatient.gender}} </td></tr>
	  		<tr><td class="tdright"> Weight : {{selectedpatient.weight}} </td></tr>
	  		<tr><td class="tdright"> Height : {{selectedpatient.height}} </td></tr>
	  		<tr><td class="tdright"> Blood Type : {{selectedpatient.bloodType}} </td></tr>
	  		<tr><td class="tdright"> Marital Status : {{selectedpatient.maritalStatus}} </td></tr>

	  		<tr><td class="tdright">Condition : {{selectedpatient.condition}} </td></tr>
	  		<tr><td class="tdright"> Admission Date : {{selectedpatient.admissionDate}} </td></tr>
	  		<tr><td class="tdright">Discharge Date : {{selectedpatient.dischargedDate}} </td></tr>

	  		<tr><td style="border:1px solid #D3D3D3;border-bottom: none;border-right: none;height: 50px;padding-left: 20px">Address : {{selectedpatient.address.street}}  {{selectedpatient.address.city}},<br>
	  		{{selectedpatient.address.province}} {{selectedpatient.address.zipCode}}</td></tr>

	  	</table>
	  </div>
	</div>
 </div>
 -->