.secondline{
	font-size: 12px;
}

.tdright
{
	border:1px solid #D3D3D3;
	width: 100%;
	height: 50px;
	border-right: none;
	padding-left: 20px;
}


  .floating-action-button {
  position: relative;
  top: 100px;
  margin-left: 50px;
}
ul.dropdown-menu {
  box-shadow: none;
  border: 0;
  min-width:0;
  background:#000
}


.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.tabborder
{
 border: 1px solid #ddd;

}
.tabborderbottom
{
 border-bottom: 1px solid #ddd;

}

#exTab2 h3 {
  
 
  padding : 5px 15px;
}

 

.tags {
   margin-bottom: 5px;
} 

.tags .tag {
   display: inline-block;
   margin-right: 5px;
   font-size: 13px;
}
  
.tag .close {
   font-size: 14px;
   margin-left: 5px;
}
 
 .clickable{
    cursor: pointer;   
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}


.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}

#tile1{
    background: rgb(0,172,238);
}

#tile2{
    background: rgb(243,243,243);
}

#tile3{
    background: rgb(71,193,228);
}

#tile4{
    background-image: url('http://handsontek.net/demoimages/tiles/facebook.png');
    background-size: cover;
}

#tile5{
    background: rgb(175,26,63);
}

#tile6{
    background: rgb(62,157,215);
}

#tile7{
    background: white;
}

#tile8{
    background: rgb(209,70,37);
}

#tile9{
    background: rgb(0,142,0);
}

#tile10{
    background: rgb(0,93,233);
}

.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}






