.secondline{
	font-size: 12px;
}

.tdright
{
	border:1px solid #D3D3D3;
	width: 100%;
	height: 50px;
	border-right: none;
	padding-left: 20px;
}


  .floating-action-button {
  position: relative;
  top: 100px;
  margin-left: 50px;
}
ul.dropdown-menu {
  box-shadow: none;
  border: 0;
  min-width:0;
  background:#000
}


.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

 

#exTab2 h3 {
  
 
  padding : 5px 15px;
}


.tags {
   margin-bottom: 5px;
} 

.tags .tag {
   display: inline-block;
   margin-right: 5px;
   font-size: 13px;
}
  
.tag .close {
   font-size: 14px;
   margin-left: 5px;
}
 
 





